.tables {
  .am-tabs-default-bar-tab-active {
    color: @font-333 !important;
  }
  .am-tabs-default-bar-tab{
    color: @font-666;
  }
  .am-tabs-default-bar-content .am-tabs-default-bar-underline{
    border: 1px solid #626262;
  }
  &-top {
    li{
      width: 33.3%;
      float: left;
      font-size: 16px;
      color: #9B9B9B;
      text-align: center;
    }
    .em{
      width: 33.3%;
    }
  }
  .orderList {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 44px;
    bottom: 49px;
    left: 0;
    right: 0;
    overflow: scroll;
    .am-list-item{
      padding:0;
    }
    .am-list-line{
      padding:0;
    }
    .am-list-body{
      background: #f5f5f5;
    }
    .li {
      background: @bg-white;
      position: relative;
      margin-bottom: 10px;
      img {
        position: absolute;
        width: 84px;
        height: 84px;
        right: 6px;
        top: 6px;
      }
      header {
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: @font-333;
        border-bottom: 1px dashed #ccc;
        padding-left: 16px;
      }
      .order-name {
        padding: 12px 10px 16px 16px;
        p {
          font-size: 12px;
          color: @font-666;
          margin-bottom: 10px;
        }
        .money {
          font-size: 16px;
          color: #ff7524;
        }
        button {
          width: 72px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          font-size: 12px;
          color: #fff;
          margin-left: 20px;
          background: @btn-blue;
          border-radius: 4px;
          float: right;
        }
      }
    }
  }
}
.search .am-search-input .am-search-synthetic-ph {
  height: 28px !important;
  line-height: 24px !important;
}
//订单详情
.orderDetail{
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 63px;
  left:0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 10px 0 10px;
  .img-state{
    position: absolute;
    top: 80px;
    right: 12px;
    height: 84px;
    width: 84px;
  }
  h6{
    font-size: 16px;
    color: @font-666;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    margin-left: 12px;
  }
  section{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    position: relative;
    p{
      font-size: 12px;
      color: @font-666;
      margin-bottom: 5px;
    }
    &:last-child{
      border: none;
    }
  }
  section::before{
    content: '';
    display: block;
    position: absolute;
    height: 9px;
    width: 9px;
    background: #f5f5f5;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    bottom: -5px;
    border-radius: 50%;
    left: -5px;
  }
  section::after{
    content: '';
    display: block;
    position: absolute;
    height: 9px;
    width: 9px;
    background: #f5f5f5;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
  }

  .order-time{
    padding: 12px;
    position: relative;
    .leavemsg{
      margin-top: 6px;
      span{
        font-size: 12px;
        color: @font-666;
        margin-bottom: 5px;
        vertical-align: top;
      }
      textarea{
        height: 70px;
        width: 266px;
        background:rgba(245,245,245,1);
        border: none;
        color: #666;
        font-size: 12px;
        padding: 4px;
        border-radius: 4px;
      }
    }
    p{
      font-size: 12px;
      color: @font-666;
      margin-bottom: 5px;
    }
  }


  .voucher{
    padding: 12px 12px 21px 12px;
    div{
      overflow: hidden;
      width: 260px;
      display: inline-block;

      img{
        height: 80px;
        width: 80px;
        float: left;
        margin-right: 6px;

      }
    }
    span{
      font-size: 12px;
      color: @font-666;
      margin-bottom: 5px;
      vertical-align: top;
    }
    p{
      font-size: 12px;
      color: @font-666;
      margin-bottom: 5px;
    }
  }
}
.orderDetail::before{
  background: red;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  left:0;
  z-index: 9999;
}
.orderDetail::after{
  background: red;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  z-index: 9999;
}
//订单列表弹框
.order-notice{
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .am-modal-content {
    overflow: inherit;
    margin-bottom: 100px;
    .am-modal-close{
      top: -60px;
      width: 30px;
      height: 60px;
      display: none;
      .am-modal-close-x{
        background-image: url(../../assets/images/group.png) ;
        background-size:100% 100%;
        width: 30px;
        height: 60px;
      }
    }

  }
  .am-modal-content{
    width: 320px;
    height: 150px;
    .home-notice-title{
      font-size: 18px;
      color: @font-666;
      line-height: 25px;
      height: 68px;
      padding-top:18px;
    }
    .home-tips-title{
      font-size: 18px;
      color: @font-666;
      height: 68px;
      padding-top:18px;
      text-align: left;
      margin: 0 22px 15px 22px;
    }

    button{
      border-radius: 4px;
      height: 40px;
    }
    .btn-white{
      font-size: 14px;
      color: #0090F2;
      background: #fff;
      width: 130px;
      border: 1px solid #dfdfdf;
      margin-right: 10px;
    }
    .btn-blue{
      font-size: 14px;
      color: #fff;
      background: #0090F2;
      width: 130px;
    }
    .big-btn{
      font-size: 14px;
      color: #fff;
      background: #0090F2;
      width: 280px;
    }

  }

}
