<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>商户端后台</title>
</head>
<body>
  <div id="root"></div>
  <!-- <script src="https://js.fundebug.cn/fundebug.0.3.4.min.js" apikey="f4f3abcc287aecb82a2963d4616c3bd28a3253d50c5ba8cd61db6406731702d1"></script> -->
  <script>
    var _mtac = {"performanceMonitor":1,"senseQuery":1};
    (function() {

      var mta = document.createElement("script");
      mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
      mta.setAttribute("name", "MTAH5");
      mta.setAttribute("sid", "500583310");
      mta.setAttribute("cid", "500583320");
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(mta, s);
    })();
  </script>
</body>
</html>
